<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>“We are the cosmos made conscious and life is the means by which the universe understands itself” - Brian Cox</string>
	<string>“We have been to the moon, we have charted the depths of the ocean and the heart of the atom, but we have a fear of looking inward to ourselves because we sense that is where all the contradictions flow together” - Terence McKenna</string>
	<string>“If your mind carries a heavy burden of past, you will experience more of the same. The past perpetuates itself through lack of presence. The quality of your consciousness at this moment is what shapes the future” - Eckhart Tolle</string>
	<string>“Meditation is the dissolution of thoughts in Eternal awareness or Pure consciousness without objectification, knowing without thinking, merging finitude in infinity” - Voltaire</string>
	<string>“Control of consciousness determines the quality of life” - Mihaly Csikszentmihalyi</string>
	<string>“Consciousness cannot be accounted for in physical terms. For consciousness is absolutely fundamental. It cannot be accounted for in terms of anything else” - Erwin Schrödinger</string>
</array>
</plist>
