<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TravelMinion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2071F4FA1E7AEE3800E2CE4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2071F5111E7AEE3800E2CE4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2071F51C1E7AEE3800E2CE4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
