<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppConfig</key>
	<dict>
		<key>API_BASE_URL</key>
		<string>API_HOST</string>
		<key>APP_STORE_ID</key>
		<string>1420176032</string>
		<key>APP_STORE_URL</key>
		<string>https://apps.apple.com/us/app/tripup-private-photo-storage/id1420176032</string>
		<key>AWS_ASSETS_BUCKET</key>
		<string>$(AWS_ASSETS_BUCKET)</string>
		<key>AWS_ASSETS_BUCKET_REGION</key>
		<string>eu-west-2</string>
		<key>AWS_COGNITO_IDENTITYPOOLID</key>
		<string>eu-west-2:e6a40f6b-595a-433d-9e51-5f3244a6fd37</string>
		<key>DOMAIN</key>
		<string>https://www.tripup.app</string>
		<key>FEDERATION_PROVIDER</key>
		<string>securetoken.google.com/tripup-3ad66</string>
		<key>FIREBASE_DYNAMICLINKS_DOMAIN</key>
		<string>https://tripup.page.link</string>
		<key>LOG_ASYNC</key>
		<string>$(LOG_ASYNC)</string>
		<key>ONESIGNAL_APP_ID</key>
		<string>7cedb3de-2705-4c38-b0e2-89e4edc2fdcd</string>
		<key>REVENUECAT_APIKEY</key>
		<string>kPiLcetCuJsWnmOnZkmQIoCRvkipHdbO</string>
		<key>SERVER_SCHEMA_VERSION</key>
		<string>$(SERVER_SCHEMA_VERSION)</string>
	</dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>app.tripup.importAssets</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.705258999963-nd7a8hsgpb7v8n2lt6npom2u9p543d7o</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>firdynamiclinks</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app.tripup.ios</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED</key>
	<true/>
	<key>GOOGLE_ANALYTICS_DEFAULT_ALLOW_AD_PERSONALIZATION_SIGNALS</key>
	<false/>
	<key>GOOGLE_ANALYTICS_IDFV_COLLECTION_ENABLED</key>
	<false/>
	<key>GOOGLE_ANALYTICS_REGISTRATION_WITH_AD_NETWORK_ENABLED</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Use camera</string>
	<key>NSContactsUsageDescription</key>
	<string>This allows the app to discover which of your contacts also use TripUp. Your contacts are never stored on our servers.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This allows the app to prevent others from accessing your security settings.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Used to record location data when you use the camera</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This allows the app to view, share and backup your photos.</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Audiowide.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Root</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
